* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  background-color: red;

}

a {
  text-decoration: none;
  color: #337ab7;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  color: white;

  

}

.menu {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;

}

.menu ul li {
  margin-bottom: 20px;

}

.menu ul li a {
  color: black;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: self-end;
  gap: 20px;


}

.carrito-icono {
  width: 50px;
  fill: black;
}
.contenedor-video{
  margin-top: 0px;
}

.video {

  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* o cover, dependiendo de tus necesidades */
  
}
@media (max-width: 320px) {
  .header{
    width: 100%;
    
  }
  .contenedor-video video {
    max-width: 100%;
    height: auto;
  }
  .menu {
    flex-direction: column;
    padding: 5px; /* Reduce el padding para aprovechar mejor el espacio */
  }

  .nav {
    flex-direction: column;
    gap: 10px; /* Espaciado adecuado entre ítems */
    align-items: center;
  }
  
}
