.footer{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 24px;
    height: 100px;
}
@media(max-width: 648px ) {
    .footer div h4{
        font-size: 1rem;
    }
    .footer div{
    
        display: flex;
        flex-direction: column;

        max-width: 100px;;
    }
    .footer div ul li{
        font-size: 0.7rem;
    }
    .footer div lu li a{
        font-size: 0.7rem;
    }
    .footer div p{
        font-size: 0.7rem;
    }
}
@media(max-width: 440px ) {
    .footer{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 24px;
        height: 90px;
    }
    
    .footer div h4{
        font-size: 0.7rem;
    }
    .footer div{
    
        display: flex;
        flex-direction: column;

        max-width: 50px;;
    }
    .footer div ul li{
        font-size: 0.4rem;
    }
    .footer div lu li a{
        font-size: 0.4rem;
    }
    .footer div p{
        font-size: 0.4rem;
    }
}